.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}

#header-div {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  height: 65px;
  background-color: #333;
}

h1 {
  letter-spacing: 2vw;
  word-spacing: 2.5vw;
  font-family: inherit;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding: 0 5px;
}

h2 {
  font-size: 1.5rem;
}

#maincontent {
  margin-top: 65px;
  flex-grow: 1;
}

footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #333;
  color: #dbdbdb;
  font-size: .6rem;
  letter-spacing: 1px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  align-self: end;
}

footer a {
  color: #fff;
  padding: 15px;
  font-size:.8rem;
  font-family: "Nunito", sans-serif;
  letter-spacing: 3px;
  margin: 0 5px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:focus {
  outline-offset: -5px;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  background-color: #ccc;
  position: relative;
}

#map-container {
  z-index: 0;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin: 0 15px 20px 15px ;
}

.card {
  background-color: #fff;
  border-radius: 20px 0 20px 0;
  box-shadow: 8px 8px 5px #bfbfbf;
  margin-top: 25px;
}

.restaurant-img {
  background-color: #ccc;
  width: 100%;
  height: auto;
  border-top-left-radius: 18px;
}

.restaurant-img-d {
  border-bottom-right-radius: 18px;
}

#restaurants-list h3 {
  color: #d43706;
  font-family: Arial,sans-serif;
  font-weight: 200;
  font-size: 1rem;
  margin: 20px 5px 10px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#restaurants-list h4 {
  margin: 0 5px;
  font-weight: 400;
  font-size: .95rem;
}

.details-button {
  background-color: #d9d9d9;
    color: #333;
    font-size: .85rem;
    margin-top: 10px;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-bottom-right-radius: 18px;
    letter-spacing: 4px;
    border-width: 0;
    border-top: solid 2px #333;
    cursor: pointer;
}

.details-button:hover {
  text-decoration: underline;
}

.listbox-container {
  display: grid;
  grid-template-columns: 1fr;
}

.listbox-label {
  padding: 8px 0;
}

.listbox-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #d9d9d9;
}

.listbox-button:hover {
  cursor: pointer;
}

.listbox-ul-container {
  position: relative;
}

.listbox-ul {
  position: absolute;
  top: 5px;
  width: 100%;
  background-color: #FFF;
  list-style: none;
  border: solid 1px gray;
  border-radius: 5px;
}

.listbox-li {
  padding: 4px 10px;
}

.listbox-li-selected {
  background-color: #D9D9D9;
}

.listbox-li:hover {
  cursor: pointer;
}

#filter-options {
  padding: 0 10px;
}

/* restaurant details styling */
#details-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    z-index: 3;
    padding: 0 15px;
}

#restaurant-name {
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.3rem;
  margin: 30px 0 10px 0;
  text-transform: uppercase;
  color: #d43706;
}

#restaurant-address {
  font-family: arial, helvetica, sans-serif;
  margin: 20px 0 20px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-hours {
  padding-bottom: 20px;
}

.day {
  padding-right: 20px;
  color: #000;
}

.hours {
  padding: 5px 0;
  color: #666;
}

.breadcrumb-ul {
    list-style: none;
    background-color: #eee;
    height: 45px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
}


.breadcrumb-li {
  font-size: 1rem;
  color: #026BCF;
  float: left;
  padding: 12px 6px;
  height: 45px;
  cursor: pointer;
}

.breadcrumb-li:hover {
  text-decoration: underline;
}

.breadcrumb-li+.breadcrumb-li::before {
  content: '/';
  padding-right: 12px;
}

#breadcrumb-restaurant {
  color: black;
  cursor: default;
}

#breadcrumb-restaurant:hover {
  text-decoration: none;
}

#reviews-heading {
  font-weight: 300;
  letter-spacing: -1px;
  margin: 20px 0;
  color: #d43706;
}

#reviews-list {
  list-style-type: none;
  margin-bottom: 25px;
}

.review {
    background-color: #fff;
    list-style-type: none;
    margin-bottom: 30px;
    border-radius: 20px 0;
}

.review-heading {
    grid-column: 1 / 3;
    border-top-left-radius: 20px;
    background-color: #d9d9d9;
    padding: 8px 20px;
    width: 100%;
    color: #333;
    border-bottom: 2px solid #333;
}

.reviewer {
    display: inline-block;
    font-weight: 400;
    font-size: 1.2rem;
    width: 50%;
    padding: 0 10px;
}

.review-date {
    display: inline-block;
    width: 50%;
    font-weight: 400;
    text-align: right;
    font-size: .9rem;
}

.review-rating-div {
  padding: 15px 25px;
}

.review-rating {
    border-radius: 4px;
    padding: 8px 5px 8px 0;
    font-family: arial, sans-serif;
    color: #000;
    letter-spacing: .15rem;
    font-size: 1rem;
    display: inline-block;
}

.review-text {
    padding: 0 25px 25px;
    line-height: 1.6;
}

.star {
  font-size: 1.1rem;
  color: #ff572d;
}

@media screen and (min-width: 400px) {
  #filter-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    font-size: 1.1rem;
  }

  #cuisine-type {
    margin-right: 5px;
  }

  #neighborhood {
    margin-left: 5px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1049px) {

  .card-restaurant {
    display: inline-block;
    width: calc((100% - 20px)/2);
  }

  .card-restaurant:nth-of-type(odd) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 700px) {

  h1 {
    font-size: 1.9rem;
  }

  #details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #restaurant-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #details-col1 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #details-col2 {
    padding-left: 20px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
  }

   #restaurant-name {
     font-size: 1.6rem;
     margin: 35px 0 20px 0;
   }

   #restaurant-cuisine {
     font-size: 1.2rem;
     grid-column-start: 1;
     grid-column-end: 3;
   }

   #restaurant-address, #restaurant-hours {
     font-size: 1rem;
   }

   #restaurant-address {
     margin-top: 0;
   }

   #reviews-heading {
     font-size: 1.8rem;
   }
}

@media screen and (min-width: 1020px) {

  #map {
      height: 500px;
  }

  #restaurant-name {
    font-size: 1.9rem;
  }

  #restaurant-cuisine {
    font-size: 1.5rem;
  }

  #restaurant-address, #restaurant-hours {
    font-size: 1.4rem;
  }

  .card-restaurant {
    display: inline-block;
    width: calc((100% - 40px)/3);
    margin-right: 20px;
  }

  .card-restaurant:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1400px) {

  .card-restaurant {
    display: inline-block;
    width: calc((100% - 80px)/3);
    margin-right: 40px;
    margin-top: 40px;
  }

  .card-restaurant:nth-of-type(3n) {
    margin-right: 0;
  }

  h1 {
    font-size: 2.4rem;
  }

  .breadcrumb-li {
    font-size: 1.2rem;
  }

  #map {
      height: 550px;
  }

  #filter-options {
    font-size: 1.4rem;
  }

  #restaurants-list h3 {
    font-size: 1.3rem;
  }

  #restaurants-list h4 {
    font-size: 1.2rem;
  }

  .details-button {
    font-size: 1.05rem;
  }

  #restaurant-name {
    font-size: 2rem;
  }

  #restaurant-cuisine {
    font-size: 1.6rem;
  }

  #restaurant-address {
    font-size: 1.75rem;
    margin-bottom: 50px;
  }

  #restaurant-hours {
    font-size: 1.75rem;
  }

  #reviews-heading {
    font-size: 2.2rem;
  }

  .reviewer {
    font-size: 1.4rem;
  }

  .review-date {
    font-size: 1.1rem;
  }

  .review-rating {
    font-size: 1.3rem;
  }

  .star {
    font-size: 1.3rem;
  }

  .review-text {
    font-size: 1.2rem;
  }

  footer a {
    font-size: 1rem;
  }
}
