.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #252831;
  text-align:center;
  z-index: 10000;
  overflow: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  height: 65px;
}

h1 {
  letter-spacing: 2vw;
  word-spacing: 2.5vw;
  font-family: inherit;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

#maincontent {
  grid-template-rows: 400px auto;
  margin-top: 65px;
}

#footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #444;
  color: #dbdbdb;
  font-size: .6rem;
  letter-spacing: 1px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  align-self: end;
}

#footer a {
  color: #fff;
  padding: 15px;
  font-size:.8rem;
  font-family: "Nunito", sans-serif;
  letter-spacing: 3px;
  margin: 0 5px;
}

#footer a:hover,
#footer a:focus {
  background: #fff;
  color: #000;
  text-decoration: underline;
  outline-offset: -5px;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  background-color: #ccc;
  position: relative;
}

#map-container {
  z-index: 0;
}

#restaurants-container {
  margin: 0 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin: 0 20px 20px 20px ;
}

.restaurant-card {
  background-color: #f4f4f4;
  border-radius: 20px 0 20px 0;
  border: solid 1px #9e9e9e;
  box-shadow: 5px 5px 3px #bfbfbf;
  margin-top: 20px;
}

.restaurant-img {
  background-color: #ccc;
  width: 100%;
  height: auto;
  border-top-left-radius: 18px;
}

#restaurants-list li h3 {
  color: #d43706;
  font-family: Arial,sans-serif;
  font-weight: 200;
  margin: 20px 5px 10px 5px;
  text-transform: uppercase;
}

#restaurants-list h4 {
  margin: 0 5px;
  font-weight: 400;
}

#restaurants-list a {
  background-color: #9E9E9E;
  color: #000;
  display: inline-block;
  font-size: .95rem;
  margin-top: 10px;
  padding: 8px 0;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  width: 100%;
  border-bottom-right-radius: 18px;
}

.listbox-container {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1;
  width: 100%;
}

.listbox-label {
  padding: 8px 0;
}

.listbox-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
}

.listbox-button:hover {
  cursor: pointer;
}

.listbox-ul-container {
  position: relative;
}

.listbox-ul {
  position: absolute;
  top: 5px;
  width: 100%;
  background-color: #FFF;
  list-style: none;
  border: solid 1px gray;
  border-radius: 5px;
}

.listbox-li {
  padding: 4px 10px;
}

.listbox-li-selected {
  background-color: #D9D9D9;
}

.listbox-li:hover {
  cursor: pointer;
}

#filter-options {
  padding: 0 10px;
}
